@import url('@styles/_var.scss');

.About-container {
    width: 100%;
	height: 100%;
	min-height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
	grid-template-areas: "Title" "Image" "Content";
	gap: 10px;
	margin-bottom: 15px;
}

.About-Title {
	grid-area: Title;
	align-self: center;
	color: var(--text-primary);
}

.About-container h1 {
	font-size: 2.5em;
	font-weight: bold;
	color: var(--text-primary);
	text-align: center;
	margin: 0;
}

.About-container p {
	white-space: pre-line;
	line-break: anywhere;
}

.About-Content {
	grid-area: Content;
	display: grid;
	grid-template-columns: auto;
    grid-template-rows: auto auto auto;
	grid-template-areas: "Content-site" "Author-title" "Content-author";
	gap: 10px;
}

.About-Content_site {
	grid-area: Content-site;
	font-size: 1.2em;
	margin: 1% 5% 1% 5%;
	text-align: justify;
	color: var(--text-primary);
	padding: 1% 5%;
	line-height: 115%;
}

.About-Content_author-title {
	grid-area: Author-title;
	align-self: center;
	color: var(--text-primary);
}

.About-Content_author {
	grid-area: Content-author;
	font-size: 1.2em;
	margin: 1% 5% 1% 5%;
	text-align: justify;
	padding: 1% 5%;
}

.About-Image {
	grid-area: Image;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.About-Image img {
	max-width: 45%;
	max-height: 100%;
	max-width: 600px;
	max-height: 597px;
}

@media (max-width: 768px) {
	.About-Image img {
		max-width: 100%;
		max-height: 100%;
	}
}