@import url('@styles/_var.scss');

.menu-item {
    list-style: none !important;
    margin-top: 10px !important;
    display: flex !important;
    align-items: center !important;
    cursor: pointer !important;
    width: auto !important;
    height: 40px;
    background-color: var(--background-section);
    padding-right: 40px;
    padding: 10px 15px;
}
  
.sub-items {
    padding-right: 10px;
}

.sub-items-open {
    background-color: var(--background-section-selected);
}

.icon-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex: 40px 0;
}

.icon-first {
    margin-right: 20px;
}
  
.text-placeholder {
    border-radius: 5px;
    width: 200px;
    height: 20px;
    font-size: 20px;
    flex: 1;
}

.sub-items .text-placeholder {
    padding-left: 13%;
}