.Pokemon-type_Icon {
    width: auto;
    height: 23px;
    border-radius: 25px;
    text-align: center;
    margin: 0% 1% 0% 8%;
    padding: .5% 2%;
}

.Pokemon-type_Icon p {
    padding: 1px 6px;
    margin-top: 0;
    color: white;
    min-width: 60px;
}