:root {
  /* Colors */
  --background: linear-gradient(333deg, rgba(179,110,226,1) 0%, rgba(155,186,255,1) 68%, rgba(204,219,253,1) 100%);
  --background-section: #EDF2FB;
  --background-section-selected: #c678ff;
  --background-section-shadow: #E2EAFC;
  --background-section-shadow-selected: #bf98fff5;
  --background-section-light: #BBC7F2;
  --text-primary: #000000;
  --text-primary-shadow: rgb(0 0 0 / 67%);;
  --text-secondary: rgb(255, 255, 255);
  --text-secondary-shadow: rgba(255, 255, 255, 0.67);;
  --accent: purple;
  --primary-color: #457CD3;
  --filter: brightness(0) saturate(100%) invert(14%) sepia(3%) saturate(431%) hue-rotate(314deg) brightness(101%) contrast(79%);
  /* Fonts */
  --font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-size-base: 18px;
  /* Dimensions */
  --card-height: 75vh;
  --card-width: calc(var(--card-height) / 1.5);
  --card-height-home: 62vh;
  --card-width-home: calc(var(--card-height-home) / 1.5);
  --background-button: rgb(0, 0, 0, .07);
}

[data-theme='dark'] {
  --background: linear-gradient(333deg, rgba(17,24,39,1) 0%, rgb(12 54 145) 64%, rgba(17,24,39,1) 100%);
  --background-section: #253555;
  --background-section-selected: #679bec;
  --background-section-shadow: #33455C;
  --background-section-shadow-selected: #5a8ed2;
  --background-section-light: #E5E9EA;
  --text-primary: #FEFEFD;
  --text-primary-shadow: #c5c5ccb7;
  --accent: darkred;
  --primary-color: #708BB6;
  --filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(353deg) brightness(100%) contrast(100%);
  --background-button: rgba(255, 255, 255, .04);
}

@media (max-width: 768px) {
  :root {
    --card-width: calc(var(--card-height) / 2.2);
    --card-height: 60vh;
    --font-size-base: 16px;
  }
}