:root {
  --background: #FFFFFF;
  --background-section: #EEF2FC;
  --background-section-light: #BBC7F2;
  --background-section-shadow: #DCE4F9;
  --text-primary: black;
  --text-primary-shadow: rgb(88, 87, 87, 0.7);
  --text-secondary: royalblue;
  --accent: purple;
  --primary-color: #457CD3;
}

[data-theme='dark'] {
  --background: #111827;
  --background-section: #253555;
  --background-section-shadow: #33455C;
  --background-section-light: #E5E9EA;
  --text-primary: #FEFEFD;
  --text-primary-shadow: #c5c5ccb7;
  --text-secondary: grey;
  --accent: darkred;
  --primary-color: #708BB6;
}