.Loading-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.Loading-Container h2 {
    display:block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 12ch;
     animation: typing 2s steps(12) infinite,
     blink .5s infinite step-end alternate;
    overflow: hidden; 
}

@keyframes typing {
    from { width: 0 }
}

@keyframes blink {
    50% { border-color: transparent }

}

.Loading-Logo {
    width: 100px;
    height: 100px;
}