@import url('../../styles/_var.scss');

.Characters-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.Character {
    background-color: var(--background-section);
    margin: 15px;
    border-radius: 10%;
    cursor: pointer;
  }