@import url('@styles/_var.scss');

.Home-container {
  width: 100%;
	display: grid;
	grid-template-columns: auto;
  grid-template-rows: max-content;
	gap: 5px;
}

.Home-info_presentation {
  padding: 0% 7% 3% 7%;
	grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
}

.Home-info_presentation div {
  display: inline-flex;
  color: var(--text-primary);
  padding: 10px 15px;
  border-radius: 10px;
  background-color: var(--background-section);
  text-decoration: none;
}

.Home-info_presentation h2 {
  margin-bottom: 30px;
  margin-top: 0px;
}

.Home-info_presentation svg {
  padding-left: 10px;
}

.Home-info_explain {
	padding: 3% 10% 3% 10%;
	grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
}

.Home-slide {
  min-height: var(--card-height-home);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Prueba */
.next,
.prev {
  top: calc(50% - 40px);
  position: absolute;
  color: var(--text-primary);
  border-radius: 30px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 60px;
  z-index: 2;
}

.next {
  right: 4%;
  top: 28%;
}

.prev {
  left: 4%;
  top: 28%;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}