@import url('../../styles/_var.scss');

.Home-container {
  width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 65% 35%;
	gap: 5px;
}

.Home-info {
	padding: 0 15% 0 15%;
	grid-row-start: 2;
  grid-row-end: 3;
}

.Home-slide {
	width: 100vw;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Home-slide img {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
}

/* Prueba */
.next,
.prev {
  top: calc(50% - 40px);
  position: absolute;
  color: var(--text-primary);
  border-radius: 30px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 60px;
  z-index: 2;
}

.next {
  background: ;
  right: 5%;
}

.prev {
  left: 5%;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
