@import url('@styles/_var.scss');

.Home-container {
  width: 100%;
	display: grid;
	grid-template-columns: auto;
  grid-template-rows: max-content;
	gap: 5px;
}

.Home-info_presentation {
  padding: 0% 7% 3% 7%;
	grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
}

.Home-info_presentation div {
  display: inline-flex;
  color: var(--text-primary);
  padding: 10px 15px;
  border-radius: 10px;
  background-color: var(--background-section);
  text-decoration: none;
  cursor: pointer;
}

.Home-info_presentation h2 {
  margin-bottom: 30px;
  margin-top: 0px;
}

.Home-info_presentation svg {
  padding-left: 10px;
}

.Home-info_explain {
	padding: 3% 10% 3% 10%;
	grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
}