.CharacterCard-Footer {
    width: 90%;
    margin: 0 5%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    display: grid;
    justify-content: left;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    column-gap: 2%;
}

.CharacterCard-Footer p {
    margin: 0;
    font-weight: bold;
}

.CharacterCard-Footer-Left p{
    width: 4em;
}