
.CharacterCard-Description-Text-Ability {
    font-size: 18px;
    margin: 5px 0 5px 0;
    align-items: center;
    border-top: #000 1.2px solid;
}

.CharacterCard-Description-Text-Ability h3{
    margin: 8px 0 8px 0;
}

.CharacterCard-Description-Text-Ability-Detail {
    display: block;
}

.CharacterCard-Description-Text-Ability-Detail li {
    display: inline-block;
    margin: 0 5px 0 0;
    max-width: -webkit-fill-available;
    height: auto;
    font-size: 1.1em;
    padding: 5px 10px 5px 15px;
    cursor:initial;
}

.CharacterCard-Description-Text-Ability-Detail em {
    font-size: 1.4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(250, 249, 249, 0.76);
}