.CharacterCard {
    background-color: #626970;
    color: white;
    border-radius: 10%;
    padding: 20px;
    margin: 15px;
    width: 400px;
    height: 600px;
    position: fixed;
    left: calc(50% - 250px);
    top: calc(50% - 300px);
    border: 10px solid #e7e430f3;
    background-clip: padding-box;
    box-shadow: 40px 40px 40px black;
}

.CharacterCard-Description-Title {
    text-align: center;
    margin: 4% 0 4% 0;
}

.CharacterCard-Description-Text {
    display: flex !important;
    font-size: 18px;
    margin: 8px 0 8px 0;
    align-items: center;
}

.CharacterCard-Description-Text p {
    font-size: 16px;
    margin: 0 7px 0 0;
}

.CharacterCard-Description-Text h4 {
    margin: 0 4px 0 0;
}

.CharacterCard-Description-Text b {
    margin: 0 4px 0 0;
    font-size: 18px;
}
