@import url('./styles/_var.scss');

.App {
  text-align: center;
  padding: 0;
  margin: 0;
  height: auto;
  background: var(--background);
  color: var(--text-primary);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Dark-theme {
  filter: var(--filter);
}

.Light-theme {
  filter: var(--filter);
}

.App-link {
  color: #61dafb;
}

body::-webkit-scrollbar {
  width: 0;
}

p {
  font-size: var(--font-size-base);
}

@media (prefers-reduced-motion: no-preference) {
  .App {
    transition: all 0.5s ease-in-out;
  }
}

