.Header-navigator {
    position: relative;
    border-radius: 1%;
    height: auto;
    padding: 10px 1px 10px 1px;
}

.Header-Button {
    width: 150px;
    height: 37px;
    border: none 20px;
    border-radius: 4%;
    background-color: #bfc9ce63;
    font-size: larger;
    font-weight: bold;
    color: var(--text-primary);
    margin: 5px;
}

@media (max-width: 600px) {
    
}
