@import url('../../styles/_var.scss');

.Header-navigator {
    position: relative;
    border-radius: 1%;
    height: auto;
    padding: 10px 1px 10px 1px;
    background: var(--background-section);
}

.Header-Button {
    width: 150px;
    height: 79px;
    border: none 20px;
    border-radius: 4%;
    background-color: var(--background-section-shadow);
    font-size: larger;
    font-weight: bold;
    color: var(--text-primary);
    cursor: pointer;
    margin: 7px;
}

.Header-Button p {
    margin: 0;
    padding: 0;
}

.Theme-button {
    background-color: #f6f6f600;
    border: none;
    position: absolute;
    right: 2%;
    top: 2.3%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.navBar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 22em;
    padding: none !important;
    border-radius: none !important;
    border-bottom: none;
    background: none;
    overflow: scroll;
    overflow-x: hidden;
    height: 62em;
    z-index: 9;
}


.background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 22em;
    z-index: -1;
    position: fixed;
    background: var(--background);
}

@media (max-width: 768px) {
    .Theme-button {
        left: 285px !important;
        z-index: 10;
        position: fixed;
    }

}