@import url('../../styles/_var.scss');

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

.Footer-distributed {
  background-color: var(--background-section);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.Footer-distributed .Footer-left p {
  color: var(--text-primary-shadow);
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.Footer-distributed p.Footer-links {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-primary);
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.Footer-distributed p.Footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.Footer-distributed .Footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: var(--text-primary);
  display: inline-block;
  padding-right: 5px;
}

.Footer-distributed .Footer-links .link-1:before {
  content: none;
}

.Footer-distributed .Footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.Footer-distributed .Footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: var(--background-section-shadow);
  border-radius: 2px;
  font-size: 20px;
  color: var(--text-primary);
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
  border-radius: 50%;
}

/* Media Queries */
@media (max-width: 600px) {
  .Footer-distributed .Footer-left, .Footer-distributed .Footer-right {
    text-align: center;
  }

  .Footer-distributed .Footer-right {
    float: none;
    margin: 0 auto 20px;
  }

  .Footer-distributed .Footer-left p.Footer-links {
    line-height: 1.8;
  }
}